
.DS_Store

ViewProject/mvnw

ViewProject/mvnw.cmd
/target/checkstyle-cachefile
/target/checkstyle-checker.xml
/target/checkstyle-header.txt
/target/checkstyle-result.xml
/htmlReport/css/coverage.css
/htmlReport/css/idea.min.css
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-1/sources/source-2.html
/htmlReport/ns-1/sources/source-3.html
/htmlReport/ns-1/sources/source-4.html
/htmlReport/ns-1/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/index.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/ViewProject/target/maven-archiver/pom.properties
/ViewProject/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ViewProject/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ViewProject/target/checkstyle-cachefile
/ViewProject/target/checkstyle-checker.xml
/ViewProject/target/checkstyle-header.txt
/ViewProject/target/checkstyle-result.xml
/ViewProject/target/ViewProject-1.0-SNAPSHOT.jar
/ViewProject/target/classes/ife/mp/lk/board_view.fxml
/ViewProject/target/classes/ife/mp/lk/FxmlConst.class
/ViewProject/target/classes/ife/mp/lk/main-manu.fxml
/ViewProject/target/classes/ife/mp/lk/MainManuController.class
/ViewProject/target/classes/ife/mp/lk/MessageBox.class
/ViewProject/target/classes/ife/mp/lk/SudokuGameApp.class
/ViewProject/target/classes/ife/mp/lk/SudokuGameController.class
/ViewProject/target/classes/ife/mp/lk/AuthorsSet_en.class
/ViewProject/target/classes/ife/mp/lk/AuthorsSet_pl.class
/ViewProject/target/classes/ife/mp/lk/CustomStringConverter.class
/ViewProject/target/classes/ife/mp/lk/language_en.properties
/ViewProject/target/classes/ife/mp/lk/language_pl.properties
